.form-select {width:100%; border:0; padding:8px 12px;}
.form-control-text {width:100%; border:0; padding:8px 12px; margin:6px 0 12px;}
.form-control-number {width:20%; border:0; padding:8px 12px; float:right;}

#myAnsForm { padding:15px 10px; }
.form-label {margin-top:6px}
.but-sub {margin:20px auto 0; width:100%; max-width:120px; border-radius:6px; padding:6px 12px;
  background:#ff2244; color:white; display:block;}

.error {color:red;}
